/* Font */
.shadows-into-light-regular {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
}
/*Index page Chris Wells-Hott */
.index-Body {
  background-color: black;
  display: block;
  justify-content: center;
}
.image-container {
  display: flex;
  justify-content: center;
}
.image-container img {
  opacity: 50%;
}
.image-container .text {
  position: absolute;
  color: #895129;
  top: 20%;
  font-size: 40px;
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
  font-weight: bold;
}
.button {
  margin-left: auto;
  margin-right: auto;
  background-color: #895129;
  height: 50px;
  width: 150px;
  border-radius: 30px;
}
.text {
  font-family: "Shadows Into Light", cursive;
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
  text-align: center;
  color: black;
}
.index-Body a {
  text-decoration: none;
}

/* Scene 1* Chris Wells-Hott*/

.scene1-Background {
  background-color: black;
}

.image-Container2 {
  background-color: aliceblue;
  margin: auto;
  height: 600px;
  width: 1000px;
  position: relative;
}
.image-Container2 img {
  height: 100%;
  width: 100%;
}
.text-strip {
  position: absolute;
  background-color: grey;
  height: 200px;
  width: 960px;
  top: 5em;
  opacity: 60%;
}
.text-strip h1 {
  color: white;
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}
.answer-Box {
  height: 200px;
  width: 55%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}
.choiceA {
  background-color: grey;
  height: 100px;
  width: 250px;
  text-align: center;
}
.choiceA h1 {
  margin: auto;
  color: aliceblue;
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}
.choiceB {
  background-color: grey;
  height: 100px;
  width: 250px;
  text-align: center;
}
.choiceB h1 {
  margin: auto;
  color: aliceblue;
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}
.answer-Box a{
    text-decoration: none;
}
/*Scene 2 Chris Wells-Hott*/

.scene2-Body{
    background-color: black;
    
}
.img-container-Scene2{
    background-color: aliceblue;
    width: 900px;
    height: 600px;
    margin: auto;
    position: relative;

}
.img-container-Scene2 img{
   width: 100%;
   height: 100%;
}
.scene2-Text-container{
    position: absolute;
    text-align: center;
    background-color: grey;
    opacity:85%;
    width: 900px;
    height: 200px;
    top: 30%;
}
.scene2-Text-container h1{
    color: yellow;
    font-size: 30px;
}
.scene2-button{
    width: 700px;
    height: 200px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}
.scene2-choice1{
    height: 100px;
    width: 200px;
    background-color: grey;
}
.scene2-choice1 h1{
    color: aliceblue;
    font-size: 25px;
    text-align: center;
}
.scene2-choice2{
    height: 100px;
    width: 200px;
    background-color: grey;
}
.scene2-choice2 h1{
    color: aliceblue;
    text-align: center;
    font-size: 25px;
}
.scene2-button a{
    text-decoration: none;
}
/*Scene 3 Chris Wells-Hott*/
.scene-3-body{
    background-color: black;
}
.cave-img-container{
    width: 900px;
    height: 600px;
    margin: auto;
    position: relative;
}
.cave-img-container img{
    height: 100%;
    width: 100%;
    opacity: 60%;
}
.scene3-text{
    position: absolute;
    top: 10.5em;
}
.scene3-text h1{
    color: aliceblue;
    text-align: center;
}
.scene3-buttons{
    display: flex;
    justify-content: space-evenly;
    width: 800px;
    padding-top: 20px;
    margin: auto;
}
.scene3-choice1{
    background-color: aqua;
    height: 70px;

}
.scene3-choice1 h1{
    font-size: 30px;
    text-align: center;
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
    padding: auto;
}
.scene3-choice2{
    background-color: aqua;
    height: 70px;
}
.scene3-choice2 h1{
    font-size: 30px;
    text-align: center;
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
}
.scene3-buttons a{
    text-decoration: none;
}

/* Endings */

body.ending1, body.ending3 {
  background: url(../assets/endings/ftw\ clt.jpg) no-repeat center fixed;
  background-size: cover;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 30px;
}

body.ending2 {
  background: url(../assets/endings/BSMLD.jpg) no-repeat center fixed;
  background-size: cover;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 30px;
}

body.ending4 {
  background: url(../assets/endings/cursed\ door.jpg) no-repeat center fixed;
  background-size: cover;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 30px;
  color: white;
}

.ending-button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  background-color: #895129;
  height: 80px;
  width: 300px;
  border-radius: 30px;
  font-size: 30px;
}

.ending-button:hover {
  background-color: #965d35;
}

body.ending2 h1 {
  background-color: rgba(255, 255, 255, 0.349);
}

/* Anthony Duran */
.TxtClAD{
  color: white;
}

.backgroundDef{
background-color: black;
}

.imgCont{
height: 500px;
width: 600px;
text-align: center;
}

.centerAD{
display: block;
margin-left: auto;
margin-right: auto;
width: 35%;
}