.shadows-into-light-regular {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
}
/*Index page*/
.index-Body {
  background-color: black;
  display: block;
  justify-content: center;
}
.image-container {
  display: flex;
  justify-content: center;
}
.image-container img {
  opacity: 50%;
}
.image-container .text {
  position: absolute;
  color: #895129;
  top: 20%;
  font-size: 40px;
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
  font-weight: bold;
}
.button {
  margin-left: auto;
  margin-right: auto;
  background-color: #895129;
  height: 50px;
  width: 150px;
  border-radius: 30px;
}
.text {
  font-family: "Shadows Into Light", cursive;
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
  text-align: center;
  color: black;
}
.index-Body a {
  text-decoration: none;
}

/* Scene 1*/

.scene1-Background {
  background-color: black;
}

.image-Container2 {
  background-color: aliceblue;
  margin: auto;
  height: 600px;
  width: 1000px;
  position: relative;
}
.image-Container2 img {
  height: 100%;
  width: 100%;
}
.text-strip {
  position: absolute;
  background-color: grey;
  height: 200px;
  width: 960px;
  top: 5em;
  opacity: 60%;
}
.text-strip h1 {
  color: white;
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}
.answer-Box {
  height: 200px;
  width: 55%;
  margin: auto;
  background-color: white;
}
